


.onOf {
    padding-top: 50px;
    padding-left: 50px;
}

.button {
    border-radius: 5px;
    width: 100px;
    height: 60px
    
}

.roundOnOff {
  width: 10em;
  height: 10em;
  clip-path: circle(1em at 10% 20%);
  padding-left: 850px;
}